{% extends 'base.html' %}

{% block content %}
<h1>{{ deputy.full_name }}</h1>

<div class="row">
  <div class="col-md-2">
    <p><img src="{{deputy.photo_uri}}"/></p>
  </div>

  <div class="col-md-10">
    <address>
    <strong>{{deputy.party.name}}</strong><br>
    {{ deputy.language }}<br>
    <a href='mailto:{{ deputy.email }}'>{{ deputy.email }}</a><br>
    {% if deputy.website %}
    <a href='{{deputy.website}}'>{{deputy.website}}</a><br>
    {% endif %}
    </address>
    <p><i>{{ deputy.cv_fr }}</i></p>
  </div>

</div>

{% for agenda in deputy.getSortedItems %}

{% ifchanged %} <h2>{{ agenda.pleniere.date|date:"Y" }}</h2> {% endifchanged %}
{% ifchanged %} <h4><a href="{% url 'pleniere' agenda.pleniere.id %}">{{ agenda.pleniere.title }} -
    {{ agenda.pleniere.date|date:"d M Y" }}</a></h4> {% endifchanged %}

<ul>
<li><a href="{% url 'pleniere' agenda.pleniere.id %}#{{ agenda.time }}">
  {% if agenda.subsection %}
    {{ agenda.subsection }} ({{ agenda.displayTime }})
  {% elif agenda.section %}
    {{ agenda.section }} ({{ agenda.displayTime }})
  {% else %}
    {{ agenda.displayTime }}
  {% endif %}
 </a></li>
</ul>

{% endfor %}
{% endblock %}
