{% extends 'base.html' %}

{% block content %}
<h1>{{ deputy.full_name }}</h1>

<div class="row">
  <div class="col-md-2">
    <p><img src="{{deputy.photo_uri}}"/></p>
  </div>

  <div class="col-md-10">
    <p><b>{{deputy.party.name}}</b></p>
    <p>{{ deputy.language }}</p>
    <p><a href='mailto:{{ deputy.email }}'>{{ deputy.email }}</a></p>
    {% if deputy.website %}
    <p><a href='{{deputy.website}}'>{{deputy.website}}</a></p>
    {% endif %}
    <p><i>{{ deputy.cv_fr }}</i></p>
  </div>

</div>

{% for agenda in deputy.getSortedItems %}

{% ifchanged %} <h2>{{ agenda.pleniere.date|date:"Y" }}</h2> {% endifchanged %}
{% ifchanged %} <h4><a href="{% url 'pleniere' agenda.pleniere.id %}">{{ agenda.pleniere.title }} -
    {{ agenda.pleniere.date|date:"d M Y" }}</a></h4> {% endifchanged %}

<ul>
<li><a href="{% url 'pleniere' agenda.pleniere.id %}#{{ agenda.time }}">
  {{ agenda.displayTime }}</a></li>
</ul>

{% endfor %}
{% endblock %}
