{% extends 'base.html' %}

{% block content %}
<h1>{{ deputy.full_name }}</h1>

<p><a href='mailto:{{ deputy.email }}'>{{ deputy.email }}</a></p>

<p><b>{{deputy.party.name}}</b></p>
<p>{{ deputy.language }}</p>
<p><i>{{ deputy.cv_fr }}</i></p>
<p><i>{{ deputy.cv_nl }}</i></p>

{% for agenda in deputy.getSortedItems %}

{% ifchanged %} <h2>{{ agenda.pleniere.date|date:"Y" }}</h2> {% endifchanged %}
{% ifchanged %} <h4><a href="{% url 'pleniere' agenda.pleniere.id %}">{{ agenda.pleniere.title }} -
    {{ agenda.pleniere.date|date:"d M Y" }}</a></h4> {% endifchanged %}

<ul>
<li><a href="{% url 'pleniere' agenda.pleniere.id %}#{{ agenda.time }}">
  {{ agenda.displayTime }}</a></li>
</ul>

{% endfor %}
{% endblock %}
