#footer {
  height: 90px;
}

.pt-sidenavbar li>a {
  font-size: 13px;
  font-weight: 500;
  color: #999;
  padding: 4px 20px;
}

.pt-sidenavbar .active>a {
  font-weight: 700;
  color: #18bc9c;
  border-left: 2px solid #18bc9c;
}

.pt-deputy-photo {
  height: 122px;
  width: 171px;
}
