<head>
<meta charset="UTF-8">
<script type="text/javascript" src="{{ STATIC_URL }}mediaelement/jquery.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL }}mediaelement/mediaelement-and-player.js">
</script>
<script>

$(document).ready(function() {
  $('video').mediaelementplayer();
});

play = function (t)
{
var video = $('video').get(0);
video.currentTime = t;
video.play();
}

startIfNeeded = function ()
{
  var h = window.location.hash;
  if (h != '#') {
    t = parseInt(h.replace('#', ''));
    if (t) {
      play(t);
    }
  }
}

</script>

<link rel="stylesheet" href="{{ STATIC_URL }}mediaelement/mediaelementplayer.css" />
</head>

<body>
<h1>{{ pleniere.title }} - {{ pleniere.date|date:"d m Y H:i" }}</h1>
<p><a href='{{ pleniere.source }}'>source</a></p>

<video width="320" height="240" controls preload=auto oncanplay="startIfNeeded();">
<source src='{{ pleniere.getWebmStream }}' type="video/webm"/>
Your browser does not support the video tag.
</video>

<ul>
{% for agenda in pleniere.agendaitem_set.all %}

{% if agenda.section %}
  {% ifchanged %} <h2> {{ agenda.section }} </h2>  {% endifchanged %}
{% endif %}

{% if agenda.subsection %}
{% ifchanged %} <h3> {{ agenda.subsection }} </h3>  {% endifchanged %}
{% endif %}

<li><a onclick="play({{ agenda.time }})" href="#{{ agenda.time }}">{{ agenda.displayTime }} - {{ agenda.speaker }}</a></li>

{% endfor %}
</ul>

</body>
