{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ STATIC_URL }}mediaelement/mediaelement-and-player.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/plenary.js"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}mediaelement/mediaelementplayer.css" />
{% endblock %}

{% block content %}
<h1>{{ plenary.title }} - {{ plenary.date|date:"d m Y H:i" }}</h1>
<p><a href='{{ plenary.source }}'>source</a></p>

<video width="320" height="240" controls preload=auto oncanplay="startIfNeeded();">
<source src='{{ plenary.getMp4Stream }}' type="video/mp4"/>
<source src='{{ plenary.getWebmStream }}' type="video/webm"/>
Your browser does not support the video tag.
</video>

<ul>
{% for agenda in plenary.agendaitem_set.all %}

{% if agenda.section %}
  {% ifchanged %} <h2> {{ agenda.section }} </h2>  {% endifchanged %}
{% endif %}

{% if agenda.subsection %}
{% ifchanged %} <h3> {{ agenda.subsection }} </h3>  {% endifchanged %}
{% endif %}

<li><a onclick="play({{ agenda.time }}); window.scrollTo(0,0);" href="#{{ agenda.time }}">{{ agenda.displayTime }} - {{ agenda.speaker }}</a></li>

{% endfor %}
</ul>
{% endblock %}
