{% extends 'base.html' %}
{% load i18n %}

{% block head %}
<script type="text/javascript" src="{{ STATIC_URL }}mediaelement/mediaelement-and-player.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/plenary.js"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}mediaelement/mediaelementplayer.css" />
{% endblock %}

{% block content %}
<div class="page-header">
<h1>{{ plenary.get_title }}<small> {{ plenary.date|date:"d m Y H:i" }}</small></h1>
</div>

<div class="row">
<div class="col-md-4">
<video id="vid" width="320" height="240" controls preload=auto oncanplay="startIfNeeded();">
<source src='{{ plenary.get_mp4_stream }}' type="video/mp4"/>
Your browser does not support the video tag.
</video>

<div id="deputy">
</div>

<h2>Infos</h2>
<ul>
  <li><a href="{{plenary.get_source}}">{% trans "Voir sur lachambre.be" %}</a></li>
  <li><a href="{{plenary.get_wmv_stream}}">{% trans "Télécharger la vidéo au format WMV" %}</a></li>
  <li><a href="{{plenary.get_mp4_stream}}">{% trans "Télécharger la vidéo au format MP4" %}</a></li>
</ul>

</div>

<div class="col-md-8">
<div id="agenda" style="overflow-y:auto;height:400px">
<h2>{% trans "Agenda" %}</h2>
<ul>
{% for agenda in plenary.agendaitem_set.all %}

{% if agenda.get_section %}
  {% ifchanged %} <h3> {{ agenda.get_section }} </h3>  {% endifchanged %}
{% endif %}

{% if agenda.get_subsection %}
{% ifchanged %} <h4> {{ agenda.get_subsection }} </h4>  {% endifchanged %}
{% endif %}

<li><a id="time{{ agenda.time }}" onclick="play({{ agenda.time }}); window.scrollTo(0,0);" href="#{{ agenda.time }}">{{ agenda.displayTime }} - {{ agenda.speaker }}</a></li>

{% endfor %}
</ul>
</div>
</div>
</div>

<style>
.highlight {
    background: lightgrey;
}
.deputyimg {
    float:left;
    height:70px;
    margin-right:8px
}
/* Make image bigger when we hover over it */
.deputyimg:hover {
    height: 100%;
}
</style>

<script>
// Find cleaner way to instanciate this variable
times = [
{% for agenda in plenary.agendaitem_set.all %}
    {{agenda.time}},
{% endfor %}
];

speakers = [
{% for agenda in plenary.agendaitem_set.all %}
    {% if agenda.speaker_id %}
    '{{agenda.speaker_id.pk}}',
{%else%}
    null,
{% endif %}
{% endfor %}
];

currentHighlight = 0;

$('#vid').on('timeupdate', function() {
    if ($('#vid').prop('readyState') == 0) {
        // We don't have info from video yet so can't call currentTime
        return;
    }

    ctime = $('#vid').prop('currentTime');
    // Find last link with a time lower than current time
    for (var i = 0; i < times.length; i++) {
        if(ctime <= times[i]) {
            //console.log('found ' + times[i-1] + ' from ', ctime, 'speaker ', speakers[i-1]);
            // if different from current highlighted link, highlight it
            if(times[i-1] != currentHighlight){
                currentHighlight = times[i-1];
                $('.highlight').removeClass('highlight');
                if(currentHighlight){
                $('#time' + currentHighlight).addClass('highlight');
                // scroll to highlighted
                $('#agenda').scrollTop($('#agenda').scrollTop()+ $('#time' + currentHighlight).position().top - 10)
                $('#time' + currentHighlight)

                if(speakers[i-1] != null){
                    $.get('/deputy/'+ speakers[i-1] + '/embed', function (response) {
                    $('#deputy').html(response);
                    })
                }else{
                    $('#deputy').html('');
                }
                }



            }
            break;
        }
    }
})
</script>
{% endblock %}
