{% extends 'base.html' %}

{% block content %}
<div class="page-header">
    <h1>{{ deputy.full_name }}<small> {{deputy.party.name}}</small></h1>
</div>

<div class="row">
  <div class="col-md-2">
    <p><img src="{{deputy.photo_uri}}" class="img-rounded"/></p>
  </div>

  <div class="col-md-10">
    <address>
    {{ deputy.language }}<br>
    <a href='mailto:{{ deputy.email }}'>{{ deputy.email }}</a><br>
    {% if deputy.website %}
    <a href='{{deputy.website}}'>{{deputy.website}}</a><br>
    {% endif %}
    </address>
    <p><i>{{ deputy.cv_fr }}</i></p>
  </div>

</div>

<h2 id='speaches'>Interventions en séance plénière</h2>
{% for agenda in deputy.getSortedItems %}

{% ifchanged %} <h3>{{ agenda.plenary.date|date:"Y" }}</h3> {% endifchanged %}
{% ifchanged %} <h4><a href="{% url 'plenary' agenda.plenary.id %}">{{ agenda.plenary.get_title }} -
    {{ agenda.plenary.date|date:"d M Y" }}</a></h4> {% endifchanged %}

<ul>
<li><a href="{% url 'plenary' agenda.plenary.id %}#{{ agenda.time }}">
  {% if agenda.subsection %}
    {{ agenda.subsection }} ({{ agenda.displayTime }})
  {% elif agenda.section %}
    {{ agenda.section }} ({{ agenda.displayTime }})
  {% else %}
    {{ agenda.displayTime }}
  {% endif %}
 </a></li>
</ul>

{% endfor %}
{% endblock %}
