{% extends 'base.html' %}
{% load i18n %}

{% block head %}
<script type="text/javascript" src="{{ STATIC_URL }}mediaelement/mediaelement-and-player.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/plenary.js"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}mediaelement/mediaelementplayer.css" />
{% endblock %}

{% block content %}

<img src="{{ STATIC_URL }}/images/banner.jpg" class="img-responsive"/>

<div class="page-header">
  {% url 'plenary-list' as plenary_list_url %}
  {% url 'deputy-list' as deputy_list_url %}

  <p class="lead">{% blocktrans %}Ce site a pour but de rendre facilement consultables les <a href="{{ plenary_list_url }}">vidéos des séances plénières</a> de la
  <a href="http://www.lachambre.be">Chambre des représentants de Belgique</a>. Il permet également de consulter <a href="{{ deputy_list_url }}">la liste des députés</a> siégeant à la Chambre et d'accéder rapidement à leurs différentes interventions en séances plénières.{% endblocktrans %}</p>

  <div class="alert alert-info">
    {% url 'videos-list' as videos_list_url %}

    {% blocktrans %} Certaines vidéos ne sont malheureusement pas encore disponibles, veuillez nous en excuser. Elles devraient être ajoutées sous peu. En attendant, vous pouvez consulter <a href="{{ videos_list_url }}">le listing des vidéos</a> pour vérifier la disponibilité des différentes vidéos.{% endblocktrans %}
  </div>

  {% if plenary %}
  <div id="latest-plenary" class="panel panel-default">
    <div class="panel-heading">
      <h3>{% trans "Dernière séance plénière" %}</h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-5">
          <a href="{% url 'plenary' plenary.id %}">
            <video width="320" height="240" controls preload=auto oncanplay="startIfNeeded();">
            <source src='{{ plenary.get_mp4_stream }}' type="video/mp4"/>
            Your browser does not support the video tag.
            </video>
          </a>
        </div>
        <div class="col-md-7">
          <p><a href="{% url 'plenary' plenary.id %}"><b>{{plenary.get_title}}</b> - {{ plenary.date|date:"d m Y H:i" }}</a></p>
          <ul>
          {% for agenda in plenary.agendaitem_set.all %}
            {% if agenda.get_subsection %}
              {% ifchanged %} <li>{{ agenda.get_subsection }}</li> {% endifchanged %}
            {% endif %}
          {% endfor %}
          </ul>
          <p><b><a href="{% url 'plenary' plenary.id %}">{% trans "Visionner cette séance" %}</a></b></p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if deputy %}
  <div id="random-deputy" class="panel panel-default">
    <div class="panel-heading">
      <h3>{% if deputy.sex == 'F' %} {% trans "Une parlementaire" %} {% else %} {% trans "Un parlementaire" %} {% endif %}</h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-2">
          <p><a href="{% url 'deputy' deputy.dieren_id %}"><img src="{{deputy.photo_uri}}" class="img-rounded"/></img</p>
        </div>
        <div class="col-md-10">
          <address>
          <a href="{% url 'deputy' deputy.dieren_id %}"><strong>{{deputy.full_name }}</strong></a><br>
          {{deputy.party.name}} - {{ deputy.language }}<br>
          <a href='mailto:{{ deputy.email }}'>{{ deputy.email }}</a><br>
          {% if deputy.website %}
          <a href='{{deputy.website}}'>{{deputy.website}}</a><br>
          {% endif %}
          </address>
          <p><i>{{ deputy.get_cv }}</i></p>
          <p><b><a href="{% url 'deputy' deputy.dieren_id %}#speaches">{% trans "Consulter ses interventions en plénière" %}</a></b></p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
<p class="lead"></p>
{% endblock %}
