{% extends 'base.html' %}

{% block content %}
<div class="page-header">
  <p class="lead">Bienvenu sur <a href="{% url 'home' %}">Politu.be</a></p>

  <p class="lead">Ce site a pour but de
  rendre facilement consultable les <a href="{% url 'pleniere-list' %}">vidéos des séances plénières</a> de la
  <a href="http://www.lachambre.be">Chambre des représentants de Belgique</a>.
  Il permet également de consulter <a href="{% url 'deputy-list' %}">la liste des députés</a>
  siégeant à la chambre et d'accéder rapidement à leurs différentes interventions en séances plénières.</p>

  <div id="random-deputy" class="panel panel-default">
    <div class="panel-heading">
      <h3>{% if deputy.sex == 'F' %} Une parlementaire {% else %} Un parlementaire {% endif %}</h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-2">
          <p><a href="{% url 'deputy' deputy.dieren_id %}"><img src="{{deputy.photo_uri}}" class="img-rounded"/></img</p>
        </div>
        <div class="col-md-10">
          <address>
          <a href="{% url 'deputy' deputy.dieren_id %}"><strong>{{deputy.full_name }}</strong></a><br>
          {{deputy.party.name}} - {{ deputy.language }}<br>
          <a href='mailto:{{ deputy.email }}'>{{ deputy.email }}</a><br>
          {% if deputy.website %}
          <a href='{{deputy.website}}'>{{deputy.website}}</a><br>
          {% endif %}
          </address>
          <p><i>{{ deputy.cv_fr }}</i></p>
          <p><b><a href="{% url 'deputy' deputy.dieren_id %}#speaches">Consulter ses interventions en plénière</a></b></p>
        </div>
      </div>
    </div>
  </div>

  <h2><small>À propos</small></h2>
  <p><a href="{% url 'home' %}">Politu.be</a> est un projet citoyen libre et
  gratuit se voulant neutre politiquement. Il a pour but de rendre les débats
  parlementaires le plus transparent possible afin de donner aux
  électeurs une vision claire du travail de leurs élus.</p>

  <p>Nous vous invitons à
  consulter également le site <a href="http://www.noselus.be/">Noselus.be</a>
  proposant des services similaires pour le parlement fédéral et wallon.
  </p>
</div>
<p class="lead"></p>
{% endblock %}
